api-config/AuthScheme=
api-config/AwsConfiguration/AssetsBucketName=
api-config/AwsConfiguration/Region=
api-config/ConnectionStrings/DatabaseContext=
api-config/FileStorage=
api-config/oauth2identity/Audience=
api-config/oauth2identity/Issuer=
api-config/oauth2identity/UserInfoEndpoint=
api-config/oauth2identity/TokenEndpoint=
api-config/oauth2identity/ClientId=
api-config/oauth2identity/ClientSecret=
api-config/oauth2identity/RedirectUri=
api-config/discordapi/DiscordApiEndpoint=
api-config/discordapi/ClientId=
api-config/discordapi/ClientSecret=
api-config/discordapi/RedirectUri=
